<html>
    <body>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">título</label>
                <input type="text" id="titulo" name="titulo" placeholder="título do livro"/>
            </div>
            <div>
                <label for="preco">Preço</label>
                <input type="text" id="preco" name="preco" placeholder="30.00"/>
            </div>
            <div>
                <label for="descricao">Descrição</label><br/>
                <textarea id="descricao" name="descricao" cols="20" rows="5" placeholder="descrição do livro"></textarea>
            </div>
            
            <input type="submit" value="Gravar"/>
        </form>
    </body>
</html>